version: '3'
services:
  mariadb:
    build: requirements/mariadb
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_ROOT_USER: ${MYSQL_ROOT_USER}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    # healthcheck:
    #   test: ["CMD-SHELL", "mysqladmin ping -h localhost -P 3306"]
    networks:
      - inception
    # ports:
      # - "3306:3306"
    restart: always
    volumes:
      - "mariadb-data:/var/lib/mysql"

  wordpress:
    build: requirements/wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      WP_DATABASE: ${WP_DATABASE}
      WP_TITLE: ${WP_TITLE}
      WP_ADMIN_NAME: ${WP_ADMIN_NAME}
      WP_ADMIN_PASSWORD: ${WP_ADMIN_PASSWORD}
      WP_ADMIN_MAIL: ${WP_ADMIN_MAIL}
      WP_USER_NAME: ${WP_USER_NAME}
      WP_USER_PASSWORD: ${WP_USER_PASSWORD}
      WP_USER_MAIL: ${WP_USER_MAIL}
    # healthcheck:
    #   test: ["CMD", "curl", "--fail", "http://localhost:9000"]
    networks:
      - inception
    # ports:
      # - "9000:9000"
    restart: always
    volumes:
      - "wordpress-data:/var/www/localhost/htdocs"

  nginx:
    build: requirements/nginx
    container_name: nginx
    depends_on:
      - wordpress
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
    # healthcheck:
    #   test: ["CMD-SHELL", "curl -f localhost:443"]
    networks:
      - inception
    ports:
      - "443:443"
    restart: always
    volumes:
      - "wordpress-data:/var/www/localhost/htdocs"

volumes:
  mariadb-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ../data/mariadb
  wordpress-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ../data/wordpress

networks:
  inception:
